.quiz {
  max-width: 472px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0px 0px 30px 0;

  &-info {
    margin-bottom: 20px;
    display: flex;
  }
}
.answers-wrapper {
  margin-bottom: 50px;
}

.waiting-wrapper {
  margin-bottom: 25px;
}

.btn-wrapper {
  max-width: 320px;
  width: 100%;
}
