@font-face {
  font-family: 'Roboto';
  src: url('./Roboto/Roboto-Regular.eot');
  src: local('☺'), url('./Roboto/Roboto-Regular.woff') format('woff'),
    url('./Roboto/Roboto-Regular.ttf') format('truetype'),
    url('./Roboto/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
