.answer-word {
  width: 70px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-align: center;
  cursor: grab;
  user-select: none;
  &:active {
    cursor: grabbing;
  }
}
