.quiz {
  max-width: 472px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0px 0px 30px 0;

  &-info {
    margin-bottom: 20px;
  }

  &__btn-wrapper {
    max-width: 320px;
    width: 100%;
  }
}
.answers-zone-wrapper {
  margin-bottom: 50px;
}

.pending-zone-wrapper {
  margin-bottom: 25px;
}
