.drop-zone {
  display: flex;
  flex-flow: row wrap;
  max-width: 470px;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 10px;
    border-top: 2px solid #cecccc;
    padding: 10px 0px;
    margin: 0;
    list-style-type: none;
  }

  &__wrapper:last-child {
    justify-content: flex-start;
    border-bottom: 2px solid #cecccc;
  }
}

.drop-zone[data-dropName='pendingZone'] {
  gap: 10px;
  padding: 0;
  padding: 0;
  margin: 0;
}
