.anchor {
  will-change: background-color;
  transition: opacity 200ms ease, background-color 200ms ease;
  opacity: 1;
  width: 70px;
  height: 30px;
  border-radius: 13px;
  display: inline-block;
  &_show {
    background: #e6e6e6;
    box-shadow: inset 0px 8px 4px -6px rgba(0, 0, 0, 0.25);
  }

  &_prepared {
    background-color: rgba(59, 116, 85, 0.452);
  }
}
